{% extends "overview/base.html" %}


  {% block content %}

  <div >
    <h1 style="display: inline-block">{{ course.name }}</h1>
    <a href="{% url 'course-detail-finance-overview' course.id %}" class="btn btn-outline-primary float-right">Finance Overview</a>
  </div>
  <hr>
  <div>
    <h2>Attendance</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-striped rtable--flip" >
      <thead>
      <tr>
        <th>Date</th>
        {% for member in course.get_members %}
        <th>{{ member.first_name }} {{ member.last_name }}</th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for date in last_dates %}
      <tr>
        <td>{{date.date|date:"j.n.y" }}</td>
        {% for attendance in date.member_attendance%}
        {% if attendance.member in course.get_members %}
        {% if attendance.status is 2 %}
          <td>x</td>
        {% elif attendance.status is 1 %}
          <td>e</td>
        {% elif attendance.status is 3 %}
          <td>-</td>
        {% else %}
          <td>0</td>
        {% endif %}
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>

{% endblock %}


