{% extends "overview/base.html" %}


{% block content %}

<h2>{{ course.name }} : {{ course.balance }}€</h2>
<div class="container">
  <h3>Supervisors</h3>
  {% for supervisor in course.supervisor.all %}
  <div class="card">
    <div class="card-header primary">
      <b>{{ supervisor.first_name }} {{ supervisor.last_name }} </b> Amount due: {{ supervisor.amount_due }}€
    </div>
    <div class="card-body">
      <ul class="list-group">
        {% for sup_payment in supervisor.get_last_payments %}
        <li class="list-group-item">{{sup_payment.date}} : {{sup_payment.value}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
  <hr/>

  <!--MEMBER AREA-->

  <h3>Members</h3>
  <div class="accordion">
    {% for member in course.get_members %}
    <div class="card">
      <div class="card-header">
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapse{{ member.id }}" aria-expanded="true" aria-controls="collapse{{ member.id }}">
          {{member.first_name}} {{member.last_name}} : {{member.balance}}€
        </button>
      </div>
      <div id="collapse{{ member.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <ul class="list-group">

            {% for payment in member.get_last_payments %}
            <li class="list-group-item">{{ payment.date }} {{payment.value}}€</li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<hr/>
<div class="row mb-2">
  <div class="col">
    <h3>Calculations</h3>
  </div>
  <div class="col">
    <form class="form-inline" action="{% url 'course-detail-finance-overview' course.id %}" method="post">
      {% csrf_token %}
      <label class="form-label sr-only" for="fromDate">From</label>
      <input id="fromDate" class="form-control mr-2" type="date" name="dateFrom" placeholder="jjjj-mm-dd">
      <label class="form-label sr-only" for="toDate">To</label>
      <input id= "toDate" class="form-control mr-2" type="date" name="dateTo" placeholder="jjjj-mm-dd">
      <button type="submit" class="btn btn-primary my-1">Apply</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header primary">
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapseExpenses" aria-expanded="true" aria-controls="collapseExpenses">
          <h4>Expenses</h4>
        </button>

      </div>
      <div id="collapseExpenses" class="collapse" aria-labelledby="headingOne">
        <div class="card-body">
          <ul class="list-group">
            {% for date in dates %}
            <li class="list-group-item">{{ date.date }} - {{ date.time_in_hours }} - {{ date.get_supervisor_names }} - <b>{{ date.get_wage_payed }}</b> </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="card text-white">
      <div class="card-header bg-danger">
        <b class="float-right">Sum: {{ expenses_sum }} € </b>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header primary">
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapsePayment" aria-expanded="true" aria-controls="collapsePayment">
          <h4>Payments</h4>
        </button>

      </div>
      <div id="collapsePayment" class="collapse" aria-labelledby="headingOne">
        <div class="card-body">
          <ul class="list-group">
            {% for payment in payments %}
            <li class="list-group-item">{{payment.date}} - {{payment.member.first_name}} {{payment.member.last_name}} - {{payment.value}} €</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="card border-success text-white">
      <div class="card-header bg-success">
        <b class="float-right">Sum: {{ payments_sum }} € </b>
      </div>
    </div>
  </div>



</div>


{% endblock %}








