{% extends "overview/base.html" %}


  {% block content %}

  <div >
    <h1 style="display: inline-block">{{ supervisor.first_name }} {{ supervisor.last_name }}</h1>
  </div>
  <hr>
  <div>
    <h2>Calculations</h2>
  </div>
  <div class="card">
      <div class="card-header primary">
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapseExpenses" aria-expanded="true" aria-controls="collapseExpenses">
            <b>Payments to this Supervisor</b>
        </button>

      </div>
        <div id="collapseExpenses" class="collapse" aria-labelledby="headingOne">
      <div class="card-body">
        <ul class="list-group">
        {% for payment in supervisor.get_all_payments %}
          <li class="list-group-item">{{payment.date}} - {{payment.value}} </b> </li>
        {% endfor %}
      </ul>
      </div>
        </div>
    </div>
    <div class="card text-white">
      <div class="card-header bg-success">
        <b class="float-right">Sum: {{supervisor.total_amount_payed}} € </b>
      </div>
    </div>
  <div class="card">
      <div class="card-header primary">
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapseDates" aria-expanded="true" aria-controls="collapseDates">
            <b>Course Dates considered</b>
        </button>

      </div>
        <div id="collapseDates" class="collapse" aria-labelledby="headingOne">
      <div class="card-body">
        <ul class="list-group">
        {% for date in dates%}
          <li class="list-group-item">{{date.model.date}} - {{date.model.time_in_hours}}h - <b>{{date.payed}} €</b> </li>
        {% endfor %}
            {% for log in supervisor.extra_hours.all %}
            <li class="list-group-item">ExtraLog: {{log.date}} - {{log.time_in_hours}} - <b>{{log.total}}€</b> </li>
            {% endfor %}

      </ul>
      </div>
        </div>
    </div>
    <div class="card text-white">
      <div class="card-header bg-danger">
        <b class="float-right">Sum: {{supervisor.total_amount_earned}} € </b>
      </div>
    </div>
{% endblock %}
